$red: #FF595e;
$blue:#0a2463;
$yellow:#f9cb40;

$cursors: pointer auto inherit;

$theme-colors: (
  "primary": $red,
  "secondary": $blue,
  "warining": $yellow
);

$btn-background: #FF595E;